[tool.pytest.ini_options]
pythonpath = [
  ".", "src",
]
markers = [
  "integration: marks tests as integration tests (deselect with '-m \"not integration\"')",
]

[tool.black]
line-length = 110
target-version = ['py310']
include = '\.pyi?$'